<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>View Detail</title>
	</head>
	<body>
		
		<h3 th:text= "'Pilot License Number : ' + ${pilot.licenseNumber}"></h3>
		<h3 th:text="'Name : ' + ${pilot.name}"></h3>
		<h3 th:text="'Fly Hour : ' + ${pilot.flyHour}"></h3>
		<table border=1>
			<tr>
				<th>Flight Number</th>
				<th>Origin</th>
				<th>Destination</th>
				<th>Time</th>
				<th>Delete</th>
				<th>Update</th>
			</tr>
			<tr th:each="flight: ${listOfFlights}">
				<td th:text="${flight.flightNumber}"/>
				<td th:text="${flight.origin}"/>
				<td th:text="${flight.destination}"/>
				<td th:text="${flight.time}"/>
				<td><a th:href="@{'/flight/delete/'} + ${flight.id}">Delete</a></td>
				<td><a th:href="@{'/flight/update/'} + ${flight.id}">Update</a></td>
			</tr>
		</table>
		<br>
		<a th:href= "@{'/flight/add/'} + ${pilot.licenseNumber}">Add Flight</a>
		<br>
		<a th:href="@{'/pilot/delete/'} + ${pilot.licenseNumber}">Delete Pilot</a>
		<br>
		<a th:href="@{'/pilot/update/'} + ${pilot.licenseNumber}">Update Pilot</a>
	</body>
</html>